{%extends "adminbase.html"%}{% load static %}
{%block content %}
  <div class="content-wrapper">




    <div class="table-data__tool-right" align="center">
        <form action="{% url "haddimage" %}">
        <button type="submit" class="btn btn-outline-light">
            <i class="zmdi zmdi-plus"></i>add image to gallery</button>
        </form>
    </div>

            <div class="col-12">
                        <div class="card card-primary">

                          <div class="card-header">
                            <h4 class="card-title">Ekko Lightbox</h4>
                          </div>

                          <div class="card-body">

                            <div class="row">

  {%for i in  gall %}

                              <div class="col-sm-3 row-margin-r row-margin-l ">
                                <a href="{{i.image.url}}" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                                  <img src="{{i.image.url}}" class="img-fluid mb-2"  wi  alt="white sample"/> <div class="caption">{{i.title}}</div><div class="caption">{{i.description}}</div>
                                </a>
                              </div>
                              <td>
                                  <form action="{% url 'hdelete_gal' i.id%}">
                                      <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                                          <i class="zmdi zmdi-delete"></i>
                                      </button>
                                  </form>

                                  <form action="{% url 'hupdat' i.id%}"><br>
                                    <button class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="update">
                                      <span class="iconify" data-icon="bx:bxs-comment-edit"></span>
                                    </button>
                                  </form>

                              </td>
{%endfor%}

                            </div>

                          </div>
                        </div>
                      </div>






                    </div>


<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

    {%endblock%}
