{%extends "adminbase.html"%}{% load static %}
{%block content %}
  <div class="content-wrapper">




   <section class="content">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">
         <div class="card">
           <div class="card-header">
             <h3 class="card-title">DataTable with minimal features & hover style</h3>
           </div>
           <!-- /.card-header -->
           <div class="card-body">
             <table id="example2" class="table table-bordered table-hover">
               <thead>
               <tr>
                 <th>title</th>
                 <th>description</th>
                 <th>image</th>
                 <th>update</th>
                 <th>delete</th>
               </tr>
               </thead>
   {% for i in cau %}

               <tbody>
               <tr>
                 <td>{{i.title}}</td>
                 <td>{{i.description}}</td>

                 <td> <div class="col-0  text-center">  <a href="{{i.image.url}}" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                    <img src="{{i.image.url}}" alt="user-avatar" class="img-circle img-fluid">
                  </div></td>


                  <td>
                    <form action="{% url 'upou' i.id%}">
                            <button class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="update">
                              <span class="iconify" data-icon="bx:bxs-comment-edit"></span></button>
                          </form>

                        </td>

                 <td><form action="{% url 'ourdel' i.id%}">
                    <button class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                                           <i class="zmdi zmdi-delete"></i></button></form>
                                           </td>


               </tr>


               </tbody>
            {% endfor %}
             </table>
           </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->





































<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  </div>
{%endblock%}
