

{%extends "adminbase.html"%}{% load static %}
{%block content %}
  <div class="content-wrapper">
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="">
                            <div class="">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Profile Input</strong> add donateteam
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="{% url 'donateteam' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                           {%csrf_token%}


                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="file-input" class=" form-control-label">donate Image</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="file-input" name="pic" class="form-control-file">
                                                </div>
                                            </div>

                                            <div class="form-group">

                                              <label for="inputName">title</label>
                                              <input type="text" id="inputName" name="title" class="form-control">
                                            </div>


                                            <div class="form-group">
                                              <label for="inputDescription"> Description</label>
                                              <textarea id="inputDescription" name="description"  class="form-control" rows="4"></textarea>
                                            </div>




                                        </div>




                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Submit
                                                </button>

                                            </div>
                                        </div>
                                        </form>
                                    </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
    </div>

    {%endblock%}
